<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>try</title>
  </head>
  <body>
    <form action="" id="Form">
      <input type="text" id="title" placeholder="title" /><br />
      <input type="text" id="content" placeholder="enter your notes" /><br />
      <button type="submit">Submit</button>
    </form>
  </body>

  <script>
    document.getElementById("Form").addEventListener("submit", async (e) => {
      e.preventDefault();

      let title = document.getElementById("title").value;
      let content = document.getElementById("content").value;

      const response = await fetch();

      console.log(title, content);
    });
  </script>
</html>
